@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: Arial, Helvetica, sans-serif; */
body{
    background-color: rgb(180, 180, 180);
    
}

                                    /* INICIO */

.header-skate{
    background-color: black;
    /* height: 180px; */
    display: flex;
    align-items: center;
}

.logon{
    height: 160px;
    width: 140px;
    /* background-color: blueviolet; */
    margin-left: 60px;
    /* margin-top: 22px; */
}

.nav-bar{
    /* background-color: rgb(11, 183, 57); */
    margin-left: 28vh;
}

.nav-bar ul{
    display: flex;
    gap: 8vh;
    list-style: none;
}

.nav-bar ul li:hover{
    transform: scale(1.1);
    transition: 400ms;
}

.nav-bar ul li a{
    /* background-color: rgb(20, 11, 102); */
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: 'Anton', sans-serif;
}

.nav-bar ul li a:hover{
    /* background-color:rgb(24, 24, 24); */
    
    
    color: rgb(212, 212, 212);
    /* border-radius: 20px; */
}

.hr-header{
    box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
}

                                    /* TITULO NIKESB MAIN */

.h1-cs{
    display: flex;
    justify-content: center;
    font-size: 62px;
    padding: 16px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    /* background-color: rgb(118, 142, 71); */
    /* background-color: rgb(118, 142, 71); */
}

.h2-index{
    display: flex;
    justify-content: center;
    align-items: flex-;
    font-size: 46px;
    padding: 4px;
    
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    /* background-color: yellowgreen; */
    
}

.hr-inicio{
    /* color: rgb(0, 0, 0); */
    margin-top: 22px;
    box-shadow: 0px 0px 8px 0px rgb(1, 0, 28);
    margin-left: 42px;
    margin-right: 42px;
}

                                    /* ZAPATILLAS NIKESB */

.nikesb-inicio{
    display: flex;
    justify-content: space-around;
    /* background-color: yellow; */
    padding: 66px 26px;
}

.nikesb-mobile{
    display: none;
}

img{
    height: 260px;
    width: 260px;
}

.hover-img:hover{
    border-radius: 6px;
    transition: 400ms;
    transform: scale(1.1);
    box-shadow: 0px 0px 8px 0px rgb(17, 16, 41);
}

.section-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: tomato; */
}

.section-botones button{
    height: 36px;
    width: 112px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 6px;
    background-color: rgb(210, 210, 210);
}

.section-botones button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    /* text-transform: uppercase; */
    padding: 6px;
    /* background-color: yellowgreen; */
}

.section-botones button:hover{
    background-color: rgb(10, 10, 10);
    border-radius: 8px;
    transition: 600ms;
    transform: scale(1.1);
    height: 32px;
    box-shadow: 0px 0px 6px 0px black;
}

.section-botones button a:hover{
    color: rgb(255, 255, 255);
    transition: 200ms;
}

.ver-mas{
    /* background-color: yellow; */
    display: flex;
    /* height: 100px; */
    justify-content: center;
    height: 200px;
}

.a-vm{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(40, 41, 48);
    display: flex;
    /* height: 100px; */
    justify-content: center;
    align-self: center;
}

.h3-vm{
    /* background-color: brown; */
    /* height: 100px; */
    /* display: flex;
    justify-content: center;
    align-self: center; */
    /* margin-top: 12px;
    padding: 40px; */
    font-size: 32px;
} 

.a-vm:hover{
    transform: scale(1.1);
    transition: 400ms;
}

.hr-vm{
    /* color: rgb(0, 0, 0); */
    background-color: yellow;
    box-shadow: 0px 0px 8px 0px rgb(1, 0, 28);
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 42px;
}

                                        /* FOOTER */

.footer-inicio{
    background-color: black;
    height: 180px;
    /* margin-top: 20px; */
    display: flex;
    box-shadow: 0px 0px 40px 0px rgb(212, 212, 212);
}

.derechos-footer{
    /* background-color: rgb(22, 0, 189); */
    color: rgb(69, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    font-family: 'Anton', sans-serif;
}

.redes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-left: 60px;
    /* background-color: yellowgreen; */
    /* cursor: pointer; */
}

.img-insta{
    height: 32px;
    width: 32px;
    /* align-self: center; */
}

h3{
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

.h3-insta{
    color: white;
    /* background-color: yellow; */
}

.img-face{
    height: 32px;
    width: 32px;
}

.h3-face{
    color: white;
}

.img-wsp{
    height: 32px;
    width: 32px;
}

.h3-wsp{
    color: white;
}

.logo-footer{
    /* background-color: blue; */
    
    align-self: center;
    /* margin-top: 40px; */
    margin-left: 146px;
    /* align-items: center; */
    height: 78px;
    width: 156px;
    cursor: pointer;
}

/* MAIN TIENDA */

.h2-tienda{
    font-family: 'Anton', sans-serif;
    font-size: 46px;
    display: flex;
    justify-content: center;
    margin-top: 26px;
    letter-spacing: 2px;
}

.tiendas-vm{
    display: inline-flex;
    gap: 20px;
    align-items: baseline;
    padding: 20px;
    /* background-color: rgb(97, 97, 55); */
}

.ubi-1{
    width: 30px;
    height: 38px;
    margin-left: 60px;
}

.tienda-h3{
    font-size: 30px;
}

.horarios-tienda{
    display: flex;
}

.li-tienda-mobile{
    display: none;
}


.li-tienda{
    /* background-color: rgb(50, 50, 116); */
    font-size: 26px;
    margin-left: 112px;
    font-family: 'Roboto Condensed', sans-serif;
}

.li-tienda2{
    /* background-color: rgb(38, 117, 141); */
    font-size: 24px;
    margin-left: 260px;
    font-family: 'Roboto Condensed', sans-serif;
}

.tiendas-vm-2{
    display: inline-flex;
    gap: 20px;
    align-items: baseline;
    padding: 20px;
    /* background-color: rgb(62, 146, 128); */
    margin-left: 280px;
}

.ubi-2{
    width: 30px;
    height: 38px;
    margin-left: 60px;
}

.img-stores{
    display: flex;
    /* background-color: rgb(25, 108, 108); */
    justify-content: space-around;
    padding: 60px;
}
.store-img-mobile{
    display: none;
}


.store-img1{
    height: 420px;
    width: 420px;
    box-shadow: 0px 0px 8px 0px black;
    margin-right: 180px;
}

.store-img2{
    height: 420px;
    width: 420px;
    box-shadow: 0px 0px 8px 0px black;
    margin-left: 60px;
}

.tienda-foo{
    margin-top: 26px;
}
                                    /* MAIN SNKR */

.h2-snkr{
    font-family: 'Anton', sans-serif;
    font-size: 46px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nike1-4{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    /* background-color: steelblue; */
}

.nike{
    box-shadow: 0px 0px 6px 0px black;
}

.nombre1-4{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

.h3-snkrs{
    font-size: 26px;
}

.precio1-4{
    /* background-color: rgb(104, 63, 164); */
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
}

.p-snkrs{
    font-size: 22px;
    margin-right: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

.p-snkrs4{
    font-size: 22px;
    margin-right: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* .sbs{
    display: none;
} */

.comprar-snkr{
    /* background-color: rgb(33, 42, 103); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

.comprar-snkr button{
    height: 36px;
    width: 112px;
    border: none;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 6px;
    background-color: rgb(210, 210, 210);
    margin-right: 10px;
}

.comprar-snkr button:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 6px 0px black;
}

.comprar-snkr button a{
    text-decoration: none;      
    font-size: 18px;
    padding: 6px;
    color: black;
}

.comprar-snkr button a:hover{
    color: rgb(255, 255, 255);
}

.nike5-8{
    display: flex;
    justify-content: space-around;
    margin-top: 36px;
}

.nombre5-8{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.precio5-8{
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

.comprar-snkr4-8{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
}

.comprar-snkr4-8 button{
    height: 36px;
    width: 112px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 6px;
    background-color: rgb(210, 210, 210);
    margin-right: 10px;
}

.comprar-snkr4-8 button:hover{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 6px 0px black;
}

.comprar-snkr4-8 button a{
    text-decoration: none;  
    font-size: 18px;
    padding: 6px;
    color: black;
}

.comprar-snkr4-8 button a:hover{
    color: rgb(255, 255, 255);
}

.foo-snkr{
    margin-top: 52px;
}

                                                        /* SECCION SKATEBOARDING */

.hambur-mobile{
    /* background-color: rgb(212, 212, 212); */
    display: none;
    width: 8vh;
    height: 8vh;
}

.nav-input{
    display: none;
}

.h2-eventos{
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 46px;
    margin-top: 12px;
}

.hr-skateboard{
    margin-top: 12px;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 0px 0px 6px 0px black;
    opacity: 42%;
}

.eventos{
    display: flex;
    justify-content: space-around;
    padding: 0px 32px;
    /* align-items: center; */
}

.evento-1{
    height: 526px;
    width: 372px;
    border-radius: 6px;
    margin-top: 80px;
    box-shadow: 0px 0px 8px 0px black;
}

.evento-2{
    height: 526px;
    width: 372px;
    border-radius: 6px;
    margin-top: 56px;
    box-shadow: 0px 0px 8px 0px black;
}

.evento-3{
    height: 526px;
    width: 372px;
    border-radius: 6px;
    margin-top: 40px;
    box-shadow: 0px 0px 8px 0px black;
}

.foo-sktb{
    margin-top: 80px;
}

                                    /* SECCION CONTACTO */                      

.contacto-titulo{
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 46px;
    margin-top: 12px;
}

.hr-contacto{
    box-shadow: 0px 0px 4px 0px black;
    margin-top: 10px;
}

.h3-contacto{
    display: flex;
    justify-content: center;
    font-family: 'anton', sans-serif;
    font-size: 42px;
    margin-top: 12px;
    /* background-color: tomato; */
}

.div-prueba{
    display: inline-flex;
    flex-direction: column;
    /* background-color: violet; */
}

.ubi-contact{
    display: inline-flex;
    align-items: baseline;
    /* background-color: blueviolet; */
    margin-left: 60px;
    margin-top: 32px;
    gap: 12px;
}

.ubi-con{
    width: 30px;
    height: 38px;
}

.telefono-contact{
    display: inline-flex;
    align-items: baseline;
    /* background-color: rgb(189, 32, 4); */
    margin-left: 60px;
    margin-top: 32px;
    gap: 12px;
}

.telefono-con{
    width: 30px;
    height: 38px;
}

.correo-contact{
    display: inline-flex;
    align-items: baseline;
    /* background-color: springgreen; */
    margin-left: 60px;
    margin-top: 32px;
    gap: 12px;
}

.correo-con{
    width: 42px;
    height: 32px;
}

/* Formulario */

.prueba2{
    display: inline-block;
    /* justify-content: center; */
    margin-left: 290px;
    /* background-color: yellowgreen; */
}

.section-contact{
    width: 600px;
}

.section-contact form{
    /* background-color: rgb(83, 72, 148);  */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.section-contact form label{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: 'Anton', sans-serif;
}

input{
    height: 46px;
    width: 100%;
    border-radius: 6px;
    border: none;
}

.input-con4{
    height: 80px;
}

.input-con5{
    /* grid-area: input5; */
    margin-top: 22px;
    width: 200px;
    height: 38px;
    align-self: center;
    border: 2px solid rgb(212, 212, 212);
}


.input-con5:hover{
    background-color: rgb(212, 212, 212);;
    transition: 400ms;
    color: rgb(42, 42, 42);
    box-shadow: 0px 0px 2px 0px black;
    /* border: 1px solid rgba(23, 23, 23,.7); */
    /* border: 2px solid rgb(212, 212, 212) */
    /* transform: scale(1.1); */
}


/* MEDIA PARA CELULAR */

@media (max-width:767px){

/* HEADER RESPONSIVE */

.header-skate{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.logo-responsivee{
    width: 120px;
    height: 120px;
    margin: 0;
    /* background-color: burlywood; */
}


.nav-responsive{
    /* background-color: thistle; */
    margin: 0;
}

.nav-responsive .ul-responsive{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-responsive .ul-responsive .li-m .a-m{
    /* background-color: yellowgreen; */
    text-decoration: none;
    color: #fff;
    font-size: 22px;

}

.h1-mo{
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */
    font-size: 36px;
}

.h2-mo{
    /* background-color: tomato; */
    font-size: 26px;
}

.hr-mo{
    margin: 0;
    margin-top: 4px;
}

.nikesb-inicio{
    display: none;
}

.nikesb-mobile{
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
    gap: 32px;
}

.section-botones{
    display: none;
}

.botones-mo{
    /* background-color: turquoise;
    position: relative; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.mobile-btn{
    width: 120px;
    height: 36px;
    border-radius: 6px;
    border: none;
}

.mobile-btn:hover{
    background: rgb(0, 0, 0);
    transition: 400ms;
    box-shadow: 0px 0px 8px 0px black;
}

.mobile-btn .ancla-mobile{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.mobile-btn .ancla-mobile:hover{
    color: #fff;
    transition: 400ms;
}

/* footer responsive */

.h3-face, .h3-insta, .h3-wsp{
    display: none;
}

.footer-inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.derechos-footer{
    /* background-color: yellow; */
    /* width: 60vh; */
    margin: 0;
}

.redes-footer{
    /* background-color: turquoise; */
    margin: 0;
    gap: 20px;
}

.logo-footer{
    /* background-color: teal; */
    margin: 0;
}

/* MAIN TIENDA RESPONSIVE */

.desktop{
    /* background-color: rgb(91, 143, 143); */
    display: flex;
    flex-direction: column;
}

.tiendas-vm{
    /* background-color: rgb(17, 16, 41); */
    align-self: center;
    display: flex;
    flex-direction: column;
}

.section-mobile{
    /* background-color: rgb(17, 16, 41); */
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.ubi-1{
    /* background-color: yellow; */
    align-self: center;
    margin: 0;
    height: 40px;
}

.tienda-h3{
    font-size: 26px;
    
    align-self: center;
    /* background-color: violet; */
}

.horarios-tienda{
    display: none;
    
}

.li-tienda-mobile{
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}

.store-img-mobile{
    align-self: center;
    display: block;
    box-shadow: 0px 0px 8px 0px black;
}

.store-img1{
    display: none;
}

.store-img2{
    display: none;
}

.store-img{
    height: 220px;
    width: 220px;
    
}

.img-stores{
    padding: 2vh;
}

.nike1-4, .nombre1-4, .precio1-4, 
.comprar-snkr, .nike5-8, .nombre5-8,
.precio5-8, .comprar-snkr4-8{
    display: none;
} 

/* p{
    font-size: 4vh;
} */

.h2-eventos{
    font-size: 5vh;
}

.eventos{
    /* box-shadow: 0px 0px 8px 0px rgb(34, 34, 41); */
    margin-top: 20px;
    /* border-radius: 26vh;
    background-color: rgb(166, 166, 166); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.evento-1, .evento-2, .evento-3{
    height: 280px;
    width: 220px;
    margin: 6vh 0;
    
}

.evento-1:hover{
    transition: 600ms;
    transform: scale(1.1)
}

.evento-2:hover{
    transition: 600ms;
    transform: scale(1.1)
}

.evento-3:hover{
    transition: 600ms;
    transform: scale(1.1)
}

.ubi-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    /* background-color: royalblue; */
}

.h3-sec{
    
    font-size: 4vh;
}

.telefono-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    /* background-color: royalblue; */
}

.correo-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    /* background-color: royalblue; */
}

.prueba2{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.label-con1, .label-con2, .label-con3, .label-con4{
    margin: 0;
    /* background-color: rgb(17, 16, 41); */
    align-self: center;
}

.con-mo{
    /* background-color: rgb(17, 16, 41); */
    width: 22em;
    height: 10vh;
    align-self: center;
}

.input-con4{
    width: 22em;
    height: 16vh;
}

.input-con5{
    margin: 0;
    width: 26vh;
    height: 8vh;
    margin-top: 4vh;
    align-self: center;
}

.div-prueba{
    display: flex;
    justify-content: center;
    align-items: center;
}

}

/* MEDIA PARA TABLET */


@media (min-width: 768px) and (max-width: 1023px){

.logon{
    height: 26vh;
    width: 6em;
    margin-left: 2em;
}

.nav-bar{
    margin-left: 5vh;
}

.nav-bar ul{
    gap: 5vh;
}

/* INICIO TABLET */

.nikesb-inicio{
    display: none;
}

.section-botones{
    display: none;
}

.nikesb-mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1/-1;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    margin-top: 4em;
    
}

.mobile-btn{
    height: 3em;
    border-radius: 2vh;
}

.mobile-btn a{
    text-decoration: none;
    color: black;
}

/* TIENDA TABLET */


.tiendas-vm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubi-1{
    margin: 0;
} 

.li-tienda-mobile{
    font-weight: bold;
    display: block;
}

.store-img1, .store-img2{
    display: none;
}

.store-img-mobile{
    display: block;
    height: 22em;
    width: 20em;
}

.horarios-tienda{
    display: none;
}

.tiendas-vm-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ubi-2{
    margin: 0;
} 

/* SNKR TABLET */

.nike1-4, .nombre1-4, .precio1-4, 
.comprar-snkr, .nike5-8, .nombre5-8,
.precio5-8, .comprar-snkr4-8{
    display: none;
} 

.nikesb-mobile{
    margin-top: 2em;
    gap: 2em;
}

h3, p{
    text-align: center;
}

/* SKATEBOARDING TABLET */

.eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTACTO TABLET */

.div-prueba{
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-con1, .label-con2, .label-con3, .label-con4{
    
    /* background-color: rgb(17, 16, 41); */
    align-self: center;
}

.h3-insta, .h3-face, .h3-wsp{
    display: none;
}

.prueba2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2em;
}

.logo-footer{
    margin-right: 2em;
}

}

