.h2-eventos{
    display: flex;
    justify-content: center;
    font-family: $tipografia-principal;
    font-size: 46px;
    margin-top: 12px;
}

.hr-skateboard{
    margin-top: 12px;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 0px 0px 6px 0px black;
    opacity: 42%;
}

.eventos{
    display: flex;
    justify-content: space-around;
    padding: 0px 32px;
    /* align-items: center; */
    .evento-1{
        height: 526px;
        width: 372px;
        border-radius: 6px;
        margin-top: 80px;
        box-shadow: 0px 0px 8px 0px black;
    }
    
    .evento-2{
        height: 526px;
        width: 372px;
        border-radius: 6px;
        margin-top: 56px;
        box-shadow: 0px 0px 8px 0px black;
    }
    
    .evento-3{
        height: 526px;
        width: 372px;
        border-radius: 6px;
        margin-top: 40px;
        box-shadow: 0px 0px 8px 0px black;
    }   
}

.foo-sktb{
    margin-top: 80px;
}