.contacto-titulo{
    @include flex;
    justify-content: center;
    font-family: $tipografia-principal;
    font-size: 46px;
    margin-top: 12px;
}

.hr-contacto{
    box-shadow: $shadow-2;
    margin-top: 10px;
    opacity: 50%;
}

.h3-contacto{
    @include flex;
    justify-content: center;
    font-family: $tipografia-principal;
    font-size: 42px;
    margin-top: 12px;
}

.div-prueba{
    display: inline-flex;
    flex-direction: column;
    .ubi-contact{
        display: inline-flex;
        align-items: baseline;
        margin-left: 60px;
        margin-top: 32px;
        gap: 12px;
        .ubi-con{
            width: 30px;
            height: 38px;
        }
    }
}

.h3-sec{
    font-family: $tipografia-principal;
    font-size: 1.6em;
}

.telefono-contact{
    display: inline-flex;
    align-items: baseline;
    margin-left: 60px;
    margin-top: 32px;
    gap: 12px;
    .telefono-con{
        width: 30px;
        height: 38px;
    }
    
}


.correo-contact{
    display: inline-flex;
    align-items: baseline;
    margin-left: 60px;
    margin-top: 32px;
    gap: 12px;
    .correo-con{
        width: 42px;
        height: 32px;
    }
}



/* Formulario */

.prueba2{
    display: inline-block;
    margin-left: 290px;
}

.section-contact{
    width: 600px;
    form{
        @include flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }
}

.section-contact form label{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: $tipografia-principal;
}

input{
    height: 46px;
    width: 100%;
    border-radius: 6px;
    border: none;
}

.input-con4{
    height: 80px;
}

.input-con5{
    margin-top: 22px;
    width: 200px;
    height: 38px;
    align-self: center;
    border: 2px solid rgb(212, 212, 212);
    &:hover{
        background-color: rgb(212, 212, 212);;
        transition: 400ms;
        color: rgb(42, 42, 42);
        box-shadow: 0px 0px 2px 0px black;
    }
}


